// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

body {
  /*background-color: $color-white-97;*/
  font-family: Avenir Next W02,Helvetica,Arial,sans-serif !important;
}

table, p, span, li {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: Avenir Next W02,Helvetica,Arial,sans-serif !important;
  color: $color-blue-25;
  font-weight: lighter;
}

p {
  line-height: 1.8;
}


/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
/*a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}*/
