// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

$color-white-100: hsl(0, 0%, 100%);
$color-white-97: hsl(204, 33%, 97%);
$color-blue-25: hsl(210, 27%, 25%);
$color-blue-20: hsl(210, 27%, 20%);
$color-blue-60: hsl(210, 27%, 60%);
$color-blue-94: hsl(210, 40%, 94%);
$color-blue-44: hsl(212, 29%, 44%);
$color-blue-84: hsl(211, 28%, 84%);
$color-blue-97: hsl(204, 33%, 97%);
$color-orange-61: hsl(12, 75%, 61%);



$pagination-active-bg: $color-blue-25;
$pagination-active-border-color: $color-blue-25;


$nav-tabs-border-color: $color-blue-84;
$nav-tabs-link-hover-border-color: $color-blue-84;
$nav-link-disabled-color: $color-blue-20;

$nav-tabs-link-active-color: $color-blue-20;
$nav-tabs-link-active-bg: $color-white-100;
$nav-tabs-link-active-border-color: $color-blue-84;

$nav-pills-link-active-color: $color-blue-20;
$nav-pills-link-active-bg: $color-blue-94;
$link-color: $color-blue-20;
$link-hover-color: $color-blue-60;




/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
