// -----------------------------------------------------------------------------
// This file contains all styles related to the edit columns component.
// -----------------------------------------------------------------------------


.c-list {
  list-style-type: none;
  padding-left: 0;
}


.c-list__list-item {

  position: relative;

  margin-bottom: 10px;
  padding: 10px;

  &:hover {
    background-color: $color-blue-94;
  }
}

.c-list__list-item--active {
  background-color: $color-blue-94;
}


.c-list__list-item-remove-button {
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}