// -----------------------------------------------------------------------------
// This file contains all styles related to report select custom object component
// -----------------------------------------------------------------------------


.c-report-select-custom-object__nav {
  margin-bottom: 50px;
}


.c-report-select-custom-object__list {
  margin-top: 20px;
}

.c-report-select-custom-object__header {
  margin-bottom: 20px;
}