// -----------------------------------------------------------------------------
// This file contains all styles related to the custom object table component
// -----------------------------------------------------------------------------

.c-table td {
  position: relative;
}

.c-table tr:hover {

  .c-table__edit-button, .c-table__delete-button {
    display: block;
  }

}

.c-table__checkbox:focus, .c-table td {
  outline:0 !important;
  box-shadow:none !important;
}

.c-table--with-actions {

  th:first-of-type {
    width: 20px;
  }

}

.c-table__data {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.c-table__edit-button {
  margin-left: 10px;
}

/*.c-table__edit-button {
  right: 70px;
}

.c-table__delete-button {
  right: 5px;
}*/

.c-table__edit-button, .c-table__delete-button {
  display: none;
  float: right;
  /*
  position: absolute;
  top: 50%;
  transform: translateY(-50%);*/
}


.dataTables_processing {
  display: none !important;
}
