// -----------------------------------------------------------------------------
// This file contains all styles related to the custom object table component
// -----------------------------------------------------------------------------

.c-table td {
  position: relative;
}

.c-table tr:hover {

  .c-table__edit-button, .c-table__delete-button {
    display: block;
  }

}

.c-table__edit-button {
  right: 70px;
}

.c-table__delete-button {
  right: 5px;
}

.c-table__edit-button, .c-table__delete-button {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


.dataTables_processing {
  display: none !important;
}
