// -----------------------------------------------------------------------------
// This file contains all styles related to the custom object table component
// -----------------------------------------------------------------------------

.c-table {

}

.c-table tr:hover {

  .c-table__edit-button, .c-table__delete-button {
    display: block;
  }

}

.c-table__edit-button, .c-table__delete-button {
  display: none;
  float: right;
  margin-right: 10px;
}

