// -----------------------------------------------------------------------------
// This file contains all styles related to the filter widget component.
// -----------------------------------------------------------------------------

.c-filter-widget {

  .selectize-dropdown {
    display: none !important;
  }

  .selectize-input {
    border: none;
    background-color: transparent;
    box-shadow: none;
    outline: none;
  }

  .selectize-input .item {
    background-color: $color-blue-94 !important;
  }

  .selectize-input .item:hover {
    text-decoration: underline;
  }

  #js-selected-properties {
    border: none;
    background-color: transparent;
    pointer-events:none;
  }

  .nav-link.active {
    font-weight: bold;
  }

  .nav-link.disabled {
    cursor: auto;
    pointer-events: auto;
  }

}