{% extends 'base.html.twig' %}

{% block body %}
    <div class="js-custom-object-settings-container custom-object-settings-container"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('build/custom_object_settings.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/custom_object_settings.js') }}"></script>
{% endblock %}
