{% extends 'base.html.twig' %}

{% block body %}
    <div class="js-custom-object-settings object-settings">
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/custom_object_settings.js') }}"></script>
{% endblock %}
