{% extends 'base.html.twig' %}

{% block body %}
    <div class="js-top-bar top-bar">
        <div class="row">
            <div class="col-lg-10">
                <h1>Test h1</h1>
            </div>
            <div class="col-lg-2 js-create-custom-object-button-container"
                 data-title="Create Object"
                 data-js-button-class="js-create-custom-object-btn">
            </div>
        </div>
    </div>
    <div class="js-custom-object-settings object-settings">
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/custom_object_settings.js') }}"></script>
{% endblock %}
