{% include 'email/partial/emailHeader.html.twig' with { recipientFirstName : user.firstName } %}

<p>Password reset requested.</p>
<p>Click link below to reset your password.</p>

<p><a href="{{ resetPasswordUrl }}"><strong>{{ resetPasswordUrl }}</strong></a></p>


{% include 'email/partial/emailFooter.html.twig' %}