<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        http://symfony.com/schema/routing/routing-1.0.xsd">
    <route id="nscs_api_authorization_check" controller="nscs_controller_api.nscs_api_controller:authorizationCheck" path="/authorization-check" >
    </route>
    <route id="nscs_api_email_check" controller="nscs_controller_api.nscs_api_controller:emailCheck" path="/email-check" >
    </route>
    <route id="nscs_api_invitation_code_check" controller="nscs_controller_api.nscs_api_controller:invitationCheck" path="/invitation-check" >
    </route>
    <route id="nscs_api_cengage_scholarships" controller="nscs_controller_api.nscs_api_controller:getCengageScholarships" path="/cengage-scholarships" >
    </route>
    <route id="nscs_api_cengage_scholarships_count" controller="nscs_controller_api.nscs_api_controller:getCengageScholarshipsCount" path="/cengage-scholarships-count" >
    </route>
    <route id="nscs_api_cengage_scholarship_tags" controller="nscs_controller_api.nscs_api_controller:getCengageScholarshipTags" path="/cengage-scholarship-tags" >
    </route>
    <route id="nscs_api_chapters" controller="nscs_controller_api.nscs_api_controller:getChapters" path="/chapters" >
    </route>
    <route id="nscs_api_chapter_contacts" controller="nscs_controller_api.nscs_api_controller:getChapterContacts" path="/chapter-contacts" >
    </route>
    <route id="nscs_api_chapter_events" controller="nscs_controller_api.nscs_api_controller:getChapterEvents" path="/chapter-events" >
    </route>
    <route id="nscs_api_event_register" controller="nscs_controller_api.nscs_api_controller:eventRegister" path="/event-register" methods="POST">
    </route>
    <route id="nscs_api_event_registration_checkin" controller="nscs_controller_api.nscs_api_controller:eventRegistrationCheckIn" path="/event-registration-checkin" methods="POST">
    </route>
    <route id="nscs_api_event_registration_cancel_checkin" controller="nscs_controller_api.nscs_api_controller:eventRegistrationCancelCheckIn" path="/event-registration-cancel-checkin" methods="POST">
    </route>
    <route id="nscs_api_event_unregister" controller="nscs_controller_api.nscs_api_controller:eventUnregister" path="/event-unregister" methods="POST">
    </route>
    <route id="nscs_api_event_new" controller="nscs_controller_api.nscs_api_controller:eventNew" path="/create-event" methods="POST">
    </route>
    <route id="nscs_api_event_cancel" controller="nscs_controller_api.nscs_api_controller:eventCancel" path="/cancel-event" methods="POST">
    </route>
    <route id="nscs_api_event_edit" controller="nscs_controller_api.nscs_api_controller:eventEdit" path="/events/{recordId}/edit" methods="POST">
    </route>
</routes>